
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Login</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .main {
            width: 100%;
            height: 100%;
            background-image: url(https://i.hizliresim.com/3braqoe.jpg);
            position: absolute;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }

        .form-box {
            width: 400px;
            height: 500px;
            position: relative;
            background: rgba(255, 255, 255, 0.842);
            box-shadow: 0 0 20px 9px rgba(153,153,153,0.705);
            border-radius: 35px;
            margin: 6% auto;
            padding: 10px;
            overflow: hidden;
        }

        .button-box {
            width: 200px;
            margin: 35px auto;
            position: relative;
            box-shadow: 0 0 20px 9px #220d051a;
            border-radius: 35px;
        }

        .toggle-btn {
            position: relative;
            padding: 10px 60px;
            border: none;
            background: transparent;
            outline: none;
            font-size: 13px;
            font-weight: bolder;
            cursor: pointer;
        }

        #btn {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 100%;
            background: linear-gradient(to right,#1c1c2e, #087fce);
            border-radius: 35px;
            transition: .5s;
        }

        .button-box button:nth-child(2) {
            color: #ddd0d0;
        }

        .input-group {
            position: absolute;
            top: 150px;
            width: 320px;
            transition: .5s;
        }

        .input-field {
            width: 100%;
            padding: 10px 0;
            border: none;
            margin: 5px 0;
            background: transparent;
            border-bottom: 1px solid rgba(153,153,153,0.705);
            outline: none;
        }

        .submit-btn {
            display: block;
            width: 85%;
            padding: 10px;
            border: none;
            background: linear-gradient(to right, #1c1c2e,#087fce);
            cursor: pointer;
            color: #ffff;
            font-size: 15px;
            font-weight: 600;
            margin: auto;
            outline: none;
            border-radius: 35px;
        }

        .input-group a {
            display: inline-block;
            text-decoration: none;
            color: #777;
            margin: 30px 10px 30px 0px;
            font-size: 12px;
        }

        #ResetPassword {
            left: 50px;
        }

        dialog {
            width: 350px;
            height: 250px;
            padding: 10px;
            border: none;
            border-radius: 20px;
            margin: 10% auto;
            position: relative;
            font-size: 15px;
            box-shadow: 0 0 20px 9px rgba(153,153,153,0.705);
            margin: 10% auto;
            padding: 10px;
            overflow: hidden;
        }

            dialog::backdrop {
                background: rgb(99,110,114,.9);
            }

            dialog div {
                border-bottom: 1px solid #b2bec3;
                padding: 20px;
                float: right;
                width: 100%;
                padding: 10px 0;
                border: none;
                margin: 5px 0;
                background: transparent;
                border-bottom: 1px solid rgba(153,153,153,0.705);
                outline: none;
            }
    </style>
</head>
<body>
    <div class="main">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="Login()">Şifre Yenile</button>
            </div>
            <form id="ResetPassword" class="input-group" method="post">
                <input type="email" name="Email" class="input-field" placeholder="E-mail..." required />
                <input type="password" name="Password" class="input-field" placeholder="Yeni Şifre..." required />
                <input type="password" name="Recovery" class="input-field" placeholder="Şifre Kurtarma..." required />

                <button type="submit" class="submit-btn" id="Ac">Şifre Yenile</button>
                <a href="/MemberLogin/Login/">Kullanıcı Girişine Git</a>

                <div class=" w3l-form-group">
                    <input type="hidden" class="form-control" name="Member" id="Member" value="@ViewBag.value" />
                </div>
            </form>

            <dialog id="modal">
                <form action="" method="dialog">
                    <br />
                    <h2 style="font-family:'Times New Roman';color:black;margin:auto;font-size:20px">  &nbsp Mesaj</h2>
                    <div>
                        <p style="color:black;font-size:20px">Şifre Yenilendi!</p>
                    </div>
                    <div>
                        <menu>
                            <button class="submit-btn" style="font-size:15px;width:150px;border:none;  background:#275964;color:#ffffff;padding:10px" value="onay">Tamam</button>
                        </menu>
                    </div>

                </form>
            </dialog>
            <dialog id="modal1">
                <form action="" method="dialog">
                    <br />
                    <h2 style="font-family:'Times New Roman';color:black;margin:auto;font-size:20px">  &nbsp Hata Mesajı</h2>
                    <div>
                        <p style="color:black;font-size:20px">Şifre kurtarma yanlış!</p>
                    </div>
                    <div>
                        <menu>
                            <button class="submit-btn" style="font-size:15px;width:150px;border:none;  background:#275964;color:#ffffff;padding:10px" value="onay">Tamam</button>
                        </menu>
                    </div>

                </form>
            </dialog>
            <script>

                if (document.getElementById("Member").value == 3) {
                    modal.showModal();
                }
                if (document.getElementById("Member").value == 2) {
                    modal1.showModal();
                }
            </script>
        </div>
            
        </div>
</body>
</html>